﻿body {
}

@font-face {
  font-family: 'BMitra';
  src: url('BMitra.eot'); /* IE9 Compat Modes */
  src: url('BMitra.woff') format('woff'), 
       url('BMitra.ttf') format('ttf'),/* Pretty Modern Browsers */
       url('BMitra.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'AGoogle';
  src: url('BMitra.eot'); /* IE9 Compat Modes */
  src: url('BMitra.woff') format('woff'), 
       url('Agoogle.ttf') format('ttf'),/* Pretty Modern Browsers */
       url('BMitra.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'IranSansBold';
  src: url('IranSansBold.eot'); /* IE9 Compat Modes */
  src: url('IranSansBold.woff') format('woff'), 
       url('IranSansBold.ttf') format('ttf');/* Pretty Modern Browsers */
      
}

@font-face {
  font-family: 'IranSans';
  src: url('fonts/IranSans.eot'); /* IE9 Compat Modes */
  src: url('fonts/IranSans.woff') format('woff'), 
       url('fonts/IranSans.ttf') format('ttf'),/* Pretty Modern Browsers */
       url('fonts/IranSans.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Dinar';
  src: url('fonts/Dinar.eot'); /* IE9 Compat Modes */
  src: url('fonts/Dinar.woff') format('woff'), 
       url('fonts/Dinar.ttf') format('ttf'),/* Pretty Modern Browsers */
       url('fonts/Dinar.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'DastNevis';
  src: url('fonts/DastNevis.eot'); /* IE9 Compat Modes */
  src: url('fonts/DastNevis.woff') format('woff'), 
       url('fonts/DastNevis.ttf') format('ttf'),/* Pretty Modern Browsers */
       url('fonts/DastNevis.svg#svgFontName') format('svg'); /* Legacy iOS */
}

